*{
    margin: 0px;
    padding: 0px;
    font-family: 'Work Sans', sans-serif;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 200px;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.08);
  }
.left-nav{
    display: flex;
    align-items: center;
    gap: 20px;
}
.left-nav span{
    color: #F144AE;
  }
  .left-nav h3{
    font-size: 3em;
  }
.right-nav{
    display: flex;
    align-items: center;
    column-gap: 25px;
    font-size: 18px;
}
.nav-icon{
    display: flex;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    column-gap: 18px;
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
    padding: 15px 25px;
}
a{
    text-decoration: none;
}
.banner-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-content: space-between;
  }
.banner-content{
    padding: 148px 240px;
  display: flex;
  flex-direction: column;
  row-gap: 25px;
}
.banner-content h2{
    font-size: 2em;
}
.banner-content h1, .gamer-drscription h1, .game-videos span, .description span{
    font-size: 4em;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.icons{
    display: flex;
    flex-direction: column;
    row-gap: 8px;
}
.icon{
    display: flex;
  column-gap: 10px;
}
.btn{
    display: inline-flex;
    align-items: flex-start;
    gap: 10px;
}
.sign-in{
    padding: 16px 26px;
    border-radius: 48px;
    font-size: 15px;
    color: white;
    background: #FF42A5;
    border-style: none;
}
.go-rogue{
    padding: 15px 35px;
    border-radius: 48px;
    font-size: 15px;
    color: white;
    background: #4EC5F7;
    border-style: none;
}
.gamer-container {
    padding: 95px 240px;
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.04) 0%, rgba(255, 66, 165, 0.03) 100%);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  
  .gamer-drscription {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
    row-gap: 20px;
  }
  
  .gamer-drscription h1 {
    font-size: 3em;
  }
  
  .gamer-drscription h4 {
    font-size: 1.7em;
    font-weight: normal;
  }
  
  .gamer-drscription h3 {
    font-size: 2em;
    text-align: right;
    color: #534C64; 
    font-weight: 700; 
  }
  
  .gamer-drscription p { 
    text-align: right;
    color: #534C64;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
  }
  .game-videos {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 120px 240px;
    row-gap: 18px;
  }
  
  .boxs {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: space-between;
    column-gap: 25px;
  }
  
  .game-videos h2 {
    font-size: 2em;
    text-align: center;
  }
  
  .game-videos h2 span {
    font-size: 1em;
  }
  
  .box {
    width: 330px;
    display: flex;
    flex-direction: column;
    row-gap: 25px;
    position: relative;
    cursor: pointer;
  }
  
  .hover {
    width: calc(100% - 10px);
    height: calc(100% - 70px);
    border: 5px solid #21e662;
    border-radius: 16px;
    position: absolute;
    display: flex;
    opacity: 0;
    transition: opacity 1s;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    row-gap: 16px;
    background-color: rgba(0, 0, 0, 0.70);
}
  
  .hover h3 {
    color: #21e662;
  }
  
  .box:hover .hover {
    opacity: 1;
  }
  .play-instantly{
    padding: 0 200px 120px 200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  }
  .description{
    width: 355px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: right;
  row-gap: 24px;
  }
  .description p{
    color: #534C64;
    font-size: 16px;
    line-height: 30px;
  }
  .description h3 {
    font-size: 2em;
  }
  
  .description h3 span {
    font-size: 1em;
  }
  
  .games-cover-img {
    position: relative;
  }
  
  .img2 {
    width: 50%;
    height: 60%;
    position: absolute;
    bottom: -15%;
    left: -15%;
  }
  .career-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background-color: #FF42A5;
    margin-bottom: 50px;
  }
  
  .career-description {
    padding: 100px 0 100px 200px;
    text-align: justify;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    color: white;
  }
  
  .career-description h3 {
    font-size: 3em;
  }
  
  .item {
    display: flex;
    justify-content: space-between;
  }
  .career-description button{
  width: max-content;
  margin-top: 20px;
  color: #FF42A5;
  font-weight: bold;
  padding: 16px 25px; 
  border-radius:48px ;
  border-style: none;
}
.games-category {
    padding: 120px 240px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 24px;
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.04) 0%, rgba(255, 66, 165, 0.03) 100%);
  }
  
  .category {
    font-weight: bold;
    border-radius: 50px;
    width: max-content;
    display: flex;
    align-items: center;
    column-gap: 16px;
    padding: 10px 20px;
    background: white;
    border: 2px solid rgba(255, 255, 255, 0.05);
    transition: color 0.5s;
  }
  
  .category:hover {
    border: 2px solid #2cdaa5;
    color: #2cdaa5;
  }




  


    
    
    
    
    

    
    
    /*responsivse*/
    
    @media(max-width: 576px){
        header {
        padding: 50px 50px;
        flex-direction: column;
        row-gap: 30px;
      }
    
      .right-nav {
        flex-direction: column;
        row-gap: 30px;
      }
      .banner-container {
        grid-template-columns: 1fr;
      }
    
      .banner-content { 
        align-items: center; 
        padding: 50px 50px;
        background-size: 100% 100%;
      }
      .icons{
        margin-left: auto;
      }
      .sign-in, .go-rogue {
        padding: 14px 24px;
        font-size: 13px;

      }
      .gamer-container {
        padding: 50px 50px;
        grid-template-columns: 1fr;
      }
    
      .gamer-drscription {
        align-items: center;
      }
    
      .gamer-drscription p {
        text-align: center;
      }
      .gamer-drscription h3 {
        text-align: center;
        font-size: 1.5em;
      }
      .gamer-drscription h1{
        text-align: center;
        font-size: 2em;
      }
      .game-videos {
        padding: 50px 50px;
      }
    
      .boxs {
        grid-template-columns: 1fr;
        row-gap: 20px;
      }
      .play-instantly {
        padding: 0 50px 100px;
        flex-direction: column;
        row-gap: 20px;
      }
    
      .rev {
        flex-direction: column-reverse;
      }
    
      .description, .rev .games-cover-img {
        width: 100%;
        align-items: center;
        text-align: center;
      }
      .description p{
        font-size: 15px;
        line-height: 20px;
      }
    
      .img2, .rev .img2 {
        left: 25%;
      }
      .career-container {
        grid-template-columns: 1fr;
      }
    
      .career-description {
        padding: 50px 50px;
      }
    
      .item p {
        font-size: 0.8em;
      }
      .career-description button{
        padding: 14px 20px;
        font-size: 13px;
      }
    
    

 }


 @media (min-width: 577px) and (max-width: 992px){
    header {
        padding: 50px 50px;
        flex-direction: column;
        row-gap: 30px;
      }
      .banner-content {  
        padding: 50px 50px;
        background-size: 100% 100%;
      }
    
      .banner-img {
        margin: 0 50px;
        justify-content: center;
      }
      .gamer-container {
        padding: 50px 50px;
        grid-template-columns: 1fr;
      }
    
      .gamer-drscription {
        align-items: center;
      }
    
      .gamer-drscription p{
        text-align: center;
      }
      .game-videos {
        padding: 50px 50px;
      }
    
      .boxs {
        grid-template-columns: repeat(2, 1fr);
        row-gap: 20px;
      }
      .play-instantly {
        padding: 0 50px 150px;
        flex-direction: column;
        row-gap: 20px;
      }
    
      .rev {
        flex-direction: column-reverse;
      }
    
      .description, .rev .games-cover-img {
        width: 100%;
        align-items: center;
        text-align: center;
      }
    
      .img2, .rev .img2 {
        left: 25%;
      }
      .career-container {
        grid-template-columns: 1fr;
      }
    
      .career-description, footer, .category {
        padding: 50px 50px;
      }
    
 }